<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table border=1>
      <h1>{{msg1}}</h1>
      {% if studata %}
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>RollNo</th>
          <th>Class</th>
          <th>School</th>
        </tr>
      </thead>
      {% for stu in studata %}
      <tr>
        <td>{{stu.sid}}</td>
        <td>{{stu.sname}}</td>
        <td>{{stu.srn}}</td>
        <td>{{stu.sclass}}</td>
        <td>{{stu.sschool}}</td>
      </tr>
      {% endfor %}
      {% else %}
      <h4>No records Found</h4>
      {% endif %}
    </table>
    <hr>
    <table border=1>
      <h1>{{msg2}}</h1>
      {% if empdata %}
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Enterprise ID</th>
          <th>Address</th>

        </tr>
      </thead>
      {% for emp in empdata %}
      <tr>
        <td>{{emp.eid}}</td>
        <td>{{emp.ename}}</td>
        <td>{{emp.eeid}}</td>
        <td>{{emp.eaddr}}</td>

      </tr>
      {% endfor %}
      {% else %}
      <h4>No records Found</h4>
      {% endif %}
    </table>
  </body>
</html>
