<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table border=2>
      <h1>{{msg}}</h1>
      {% if bookdata %}
      <thead>
        <tr>
          <th>Book Name</th>
          <th>Book Author</th>
          <th>Book Price</th>
        </tr>
      </thead>
      {% for book in bookdata %}
      <tr>
        <td>{{book.bname}}</td>
        <td>{{book.bauthor}}</td>
        <td>{{book.bprice}}</td>
      </tr>
      {% endfor %}
      {% else %}
      <h4>No record found</h4>
      {% endif %}
      </table>
  </body>
</html>
