<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table border=2>
      <h1>{{msg}}</h1>
      {% if mobiledata %}
      <thead>
        <tr>
          <th>Mobile Name</th>
          <th>Mobile Model</th>
          <th>Mobile Price</th>
        </tr>
      </thead>
      {% for mobile in mobiledata %}
      <tr>
        <td>{{mobile.mname}}</td>
        <td>{{mobile.mmodel}}</td>
        <td>{{mobile.mprice}}</td>
      </tr>
      {% endfor %}
      {% else %}
      <h4>No record found</h4>
      {% endif %}
      </table>
  </body>
</html>
