<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static "css/style.css" %}"></link>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>{{msg}}</h1>
    <h3>Today's date and time is: {{d}}</h3>
    <img src="{% static "image/vipul.jpg" %}" alt="image">
    <img src="{% static "image/vipul.jpg" %}" alt="image">
    <img src="{% static "image/vipul.jpg" %}" alt="image">
    <img src="{% static "image/vipul.jpg" %}" alt="image">
    <img src="{% static "image/vipul.jpg" %}" alt="image">
    <hr></hr>
  </body>
</html>
