<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body{
        background-color:powderblue;
        color:black;
        }

    </style>
  </head>
  <body>
    <center>
    <table>
      <form>
        <h1>Login Page</h1>
        <label for="Username">Username:&nbsp</label><input type="text" name="uname" placeholder="Enter Username"><br><br>
        <label for="Password">Password:&nbsp&nbsp</label><input type="password" name="password" placeholder="Enter Password"><br><br>


      </form>
    </table>
    </center>

  </body>
</html>
