<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table border=2>
      <h1>{{msg}}</h1>
      {% if humandata %}
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>City</th>
          <th>Address</th>
        </tr>
      </thead>
      {% for human in humandata %}
      <tr>
        <td>{{human.hname}}</td>
        <td>{{human.htype}}</td>
        <td>{{human.hcity}}</td>
        <td>{{human.haddr}}</td>
      </tr>
      {% endfor %}
      {% else %}
      <h4>No record found</h4>
      {% endif %}
      </table>
  </body>
</html>
