<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table border=2>
      <h1>{{msg}}</h1>
      {% if testerdata %}
      <thead>
        <tr>
          <th>Name</th>
          <th>Designation</th>
          <th>Project</th>
          <th>DOJ</th>
        </tr>
      </thead>
      {% for tester in testerdata %}
      <tr>
        <td>{{tester.tname}}</td>
        <td>{{tester.tdes}}</td>
        <td>{{tester.tproject}}</td>
        <td>{{tester.tdoj}}</td>
      </tr>
      {% endfor %}
      {% else %}
      <h4>No record found</h4>
      {% endif %}
      </table>
  </body>
</html>
