<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/index/" method="post">{% csrf_token %}
      <input type="text" name="key1" value="" placeholder="Enter Book Name">
      <input type="text" name="key2" value="" placeholder="Enter Book Author">
      <input type="text" name="key3" value="" placeholder="Enter Book Price">
      <button type="submit" name="button">ADD</button>
    </form>

  </body>
</html>
