<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form class="" action="/index/" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{form | crispy }}
      <button type="submit" name="button">Submit</button>
    </form>
    <a href="/logout/">Logout</a>
    {% if profiles %}
      {% for p in profiles %}
        {{p.name}}
        {{p.profile_created}}
        <img src="{{p.propic.url}}" alt="">
      {% endfor %}
    {% endif %}
  </body>
</html>
