<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <style>
      body{
        background-image:urls("alex.jpg")
      }
    </style>
    </head>
  <body>
    <table>
      <form>
      <center>
        <h2>Login Page</h2>
        <label style="color:gray">Username:&nbsp</label><input type="text" name="Username" value="Username" placeholder="Enter Username"><br><br>
        <label style="color:gray">Password:&nbsp&nbsp</label><input type="password" name="password" value="password" placeholder="Enter Password"><br><br>
        <button type="button" name="reset">Reset</button>&nbsp&nbsp
        <button type="Submit" name="Login">Login</button><br>
      </center>
      </form>
    </table>


  </body>
</html>
