<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <u><h1>To do App</h1></u>
      <hr>
    <form class="" action="/home/" method="post">{% csrf_token %}
      <input type="text" name="key" value="" placeholder="Enter task to do" required>&nbsp&nbsp&nbsp
      <button type="submit" name="button">ADD</button><br><br>
      </form>
          <ul>
            {% for i in tododata %}
            <b><li>{{i}}</b>&nbsp&nbsp
            <form class="" action="/delete/{{i.id}}/" method="post">{% csrf_token %}
              <button type="submit" name="button">Delete</button><br><br>
                </form>
              </li>
              {% endfor %}


          </ul>






  </body>
</html>
